<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>答题系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 引入bootstrap-->
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <!--引入vue2和elementui vue3目前不支持-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
</head>
<body>
<div id="app">
    <p>{{ message }}</p>
</div>
<style>
    /* 利用穿透，设置input边框 */
    /*#app input.el-input__inner:focus {*/
    /*    border-color: #2b542c;*/
    /*}*/
</style>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        },
        mounted: function (){
            // 整个列方程的区域
            var list_area =  document.createElement('div');
            list_area.style.border = '1px solid black';
            list_area.style.width = '500px';
            list_area.style.height = '300px';

            // 输入框
            var div = document.createElement('div');
            div.className = 'el-input';
            div.style.width = '350px'
            var input = document.createElement('input');
            input.className = 'el-input__inner';
            input.id = 'input';
            input.type = 'text';
            input.placeholder = '请输入公式';
            input.style.fontSize = '16px';
            div.appendChild(input);
            // 提交按钮
            var button = document.createElement('button');
            button.type = 'button'
            button.className = 'el-button el-button--primary'
            var span = document.createElement('span');
            span.innerHTML = "提交";
            button.appendChild(span);
            button.style.marginLeft = '30px';
            button.style.fontSize = '16px';
            var function2 = ''
            button.addEventListener('click', function () {
                function2 = document.getElementById('input').value;
                alert(function2)
            })

            list_area.appendChild(span1);
            list_area.appendChild(div);
            list_area.appendChild(button);

            var app = document.getElementById('app');
            app.appendChild(list_area)
        },


    })

</script>
</body>
</html>