<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>问答系统</title>
    <!-- 引入bootstrap-->
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <!--引入vue2和elementui vue3目前不支持-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
</head>
<style type="text/css">
    #main{
        display: flex;
        justify-content: center;
    }
    /*问答框*/
    #qaSystem{
        width: 900px;
        height: 625px;
        border-radius: 0px;
        box-shadow: #242424 0px 2px 10px;
        background-color: white;
    }
    /*左边*/
    #label_area{
        position: relative;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background-color: #005825;
    }
    #label{
        font-family: "Helvetica Neue";
        font-size: 25px;
        color: white;
    }
    #function{
        position: absolute;
        margin-top: 90px;
        width: 90px;
        height: 535px;
        background-color: black;
    }
    /*icon的位置*/
    #question{
        position: absolute;
        margin-top: 450px;
        margin-left: 33px;

    }

    #upload{
        position: absolute;
        margin-top: 30px;
        margin-left: 33px;
    }

    /*右边*/
    #Analyzing{
        position: absolute;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 90px;
        width: 810px;
        height: 90px;
        border-bottom: 1px solid #b0b0b9;
    }

    /*问答区域*/
    #qa{
        position: absolute;
        position: relative;
        margin-left: 90px;
        width: 810px;
        height: 425px;
        border-bottom: 1px solid #b0b0b9;
    }

    #answer_area_padding{
        padding-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    .time{
        text-align:center;
        font-size:10px;
        line-height:12px;
        color:#60606f;
    }
    .answer_system_area{
        margin-top: 25px;
    }

    .rate_words{
        color: #d2d2d2;
        font-size: 14px;
    }

    .answer_user_area{
        display: flex;
        flex-direction: column;

        margin-top: 25px;
    }

    .answer_user{
        margin-left: auto;

    }

    .avatar_and_answer{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }

    .answer_and_rate{
        flex-direction: column;
    }

    .rate{
        position: relative;
        margin-left: 20px;
    }

    .word{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


    .words{
        margin-left: 15px;
        color: #000;
        padding: 0px 9px;
        position: relative;
        max-width: 350px;
        line-height: 1.6;
        margin-left: 20px;
        border-radius: 10px;
        background-color: #E5E5E5;
    }

    .words_user{
        margin-right: 15px;
        color: #000;
        padding: 0px 9px;
        position: relative;
        max-width: 350px;
        line-height: 1.6;
        margin-left: 20px;
        border-radius: 10px;
        background-color: #E5E5E5;
    }



    /*滚动条*/
    .el-scrollbar {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .el-scrollbar__wrap {
        overflow: scroll;
        height: 120%;
    }


    #input_area{
        position: absolute;
        margin-left: 90px;
        width: 810px;
        height: 90px;
    }
    .el-autocomplete{
        position: relative;
        margin-top: 6px;
        margin-left: 6px;
        width: 700px;
    }

    .el-textarea__inner{
        background-color: #efefef;

    }

    #search{
        position: absolute;
        margin-top: 30px;
        margin-left: 17px;
    }

    /* icon的大小   */
    .icon-size{
        font-size: 23px;
    }

    .icon-color{
        color: white;
    }

    .click{
        cursor: pointer;
    }

    .left_button{
        background-color: black;
        color: white;
        border: 0px;
    }

    /* 利用穿透，设置input边框 */
    .inputDeep input.el-input__inner:focus {
        border-color: #2b542c;
    }

    .inputDeep input.el-textarea__inner:focus {
        border-color: #2b542c;
    }

    /*解决el-upload总是多一个选择文件*/
    input[type="file"] {
        display: none
    }

    .el-button el-button--default el-button--small{

    }


</style>
<body style="background-color: #efefef">
    <div th:include="navigation :: nav"></div>
    <div id="main">
        <div id="qaSystem">

            <!--左边区域-->
            <div id="left">
                <div id="label_area">
                    <span id="label">QA</span>
                </div>
                <div id="function">
                    <div id="upload" class="icon-size icon-color click" >
                        <i class="el-icon-upload" @click="uploadPicLoginOrNot"></i>
                        <el-dialog
                                title="请上传图片，并描述您遇到的问题~"
                                :visible.sync="dialogVisible1"
                                width="50%"
                                :before-close="handleClose">
                            <span>

                                <el-upload
                                        name="picture"
                                        :limit="3"
                                        class="upload-demo"
                                        action="#"
                                        multiple

                                        :on-exceed="handleOnExceed"
                                        :auto-upload="false"
                                        :on-change="onUploadChange"
                                        :on-remove="handleRemove"
                                        :on-success="handleSuccess"
                                        :on-error="handleError"
                                        :file-list="fileList"
                                        list-type="picture">
                                  <el-button size="small" type="primary">点击上传</el-button>
                                  <div slot="tip" class="el-upload__tip">一次只能3个上传jpg/png文件，且不超过500kb</div>
                                </el-upload>
                                <br/>
                                <el-input
                                        class="inputDeep"
                                        type="textarea"
                                        :rows="4"
                                        placeholder="请输入您遇到的问题"
                                        v-model="description">
                                </el-input>
                            </span>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="dialogVisible1 = false">取 消</el-button>
                                <el-button type="primary" @click="submitPic($event)">提 交</el-button>
                            </span>
                        </el-dialog>
                        <p style="font-size: 10px; position: relative; margin-left: -12px;margin-top: -5px; "@click="uploadPicLoginOrNot">上传图片</p>
                    </div>

                    <div id="question" class="icon-size icon-color click">
                        <i class="el-icon-question" @click="dialogVisible2 = true"></i>
                        <el-dialog
                                title="问答系统介绍"
                                :visible.sync="dialogVisible2"
                                width="55%"
                                :before-close="handleClose">
                            <span>这是一个电路知识的问答系统，你可以问一些你在学习电路基础课程中遇到的一些问题，现在主要有以下功能：<br/>
                                1. 你可以在问答框中输入问题，系统会<strong>自动匹配</strong>你的问题，通过点击来选择你要的问题。<br/>
                                2. 如果没有你的问题，我们后台会有记录，并且会尽快完善！<br/>
                                3. 支持<strong>联想子问题</strong>功能.<br/>
                                4. 你还可以点击右上角<strong>上传图片</strong>上传一个图片来描述你的问题，我们收到问题后，会将答案发回给你哦~<br/>
                                系统还有很多功能没有上线呢！谢谢大家的配合，我们会根据大家的意见或者建议尽快完善系统！</span>
                            <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible2 = false">取 消</el-button>
                        <el-button type="primary" @click="dialogVisible2 = false">确 定</el-button>
                            </span>
                        </el-dialog>
                    </div>
                </div>
            </div>

            <!--右边区域-->
            <div id="right">
                <div id="Analyzing">
                    <span style="position: relative; margin-left: 20px"><strong>{{Analyzing}}</strong></span>
                </div>
                <!-- 问答区域 -->
                <div id="qa">
                    <el-scrollbar ref="myScrollbar" id="qa_area">
                        <div id="answer_area_padding">
                            <div class="answer_system_area">
                                <div class="time" >
                                    {{time}}</div>
                                <div class="avatar_and_answer">
                                    <el-avatar :size="58" :src="'sysAvatar.png'"></el-avatar>
                                    <div class="words">
                                        <p class="word" style="font-size: 15px">
                                            您好，有什么电路相关的问题可以问我喔！
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--评分功能后面在做-->
                            <!--<div class="rate">-->
                            <!--    <p class="rate_words">请留下你对该问题答案对的满意度嗷！</p>-->
                            <!--    <el-rate-->
                            <!--            v-model="rate"-->
                            <!--            show-text>-->
                            <!--    </el-rate>-->
                            <!--</div>-->
                        </div>
                    </el-scrollbar>
                </div>


                <!-- 输入区域 -->
                <div id="input_area">
                    <el-autocomplete
                            rows = 4
                            type = "textarea"
                            class="inline-input"
                            v-model="input"
                            :fetch-suggestions="querySearch"
                            placeholder="请输入您的问题"
                            :trigger-on-focus="false"
                            @select="handleSelect"
                            @keydown.enter.native="pressEnter"
                            @click.native="questionInput"
                            :disabled="inputDisabled"
                    >
                        <template slot-scope="{item}">
                            <div class="autocomplete-choose-name" v-html="htmlValue(item.value)"></div>
                        </template>
                    </el-autocomplete>


                    <el-button id="search" @click="sendMsg" round>
                        <div class="icon-size">
                            <i class="el-icon-search"></i>
                        </div>
                    </el-button>
                </div>

                <div id="hot">
                    <!--<p style="font-size: 15px">以下为热点问题：<br/>-->
                    <!--    <a href="/feedbackTwoSys" style="color: #5c86bc">-->

                    <!--        基尔霍夫电流定律的内容是？</br>-->
                    <!--        RLC串联电路中，R变化时，电流的图像有什么不同？</br>-->
                    <!--        什么是三相电路</br>-->
                    <!--        节点法和网孔法求解方程的原则是什么？</br>-->
                    <!--        一阶电路三要素是什么？</br>-->
                    <!--        为什么称RC和RL电路为一阶电路？</br>-->
                    <!--        为什么在家用电路中各个元件之间不常串联而选择并联？</br></a>-->
                    <!--</p>-->
                </div>


            </div>
        </div>
    </div>
</body>

<script>
    var NO_QUESTION = "没有找到该问题";
    var NO_SUBQUESTIONS = "没有相关子问题";
    var STUDENT_ID_COOKIE = "studentId";
    var UPLOAD_SUCCESS = "上传成功";
    var UPLOAD_FALSE = "上传失败";

    new Vue({
        el: '#main',
        data(){
            return{
                questionList: [],
                Analyzing: '电路问答系统',
                dialogVisible1: false,
                dialogVisible2: false,
                inputDisabled: true,
                descriptionDisable: false,
                time: '',
                input: '',
                description: '',
                answer: '',
                timeout:  null,
                rate: null,

                imageAction : '',
                //附件内容
                fileList:[],

            }
        },
        mounted: function (){
            this.load();
            this.loadAllQuestions();
            this.loginOrNot();
            axios.post('getUrl',{url : window.document.URL});
        },
        updated: function() {
            this.scrollDown()
        },
        computed: {

        },
        methods:{
            /* 输入框的函数 */
            querySearch(queryString, cb) {
                var questionList = this.questionList;
                var results = queryString ? questionList.filter(this.createFilter(queryString)) : questionList;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return (restaurant) => {
                    return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            // 并行去做
            loadAllQuestions() {
                axios.get('/qa/loadAllQuestions',).then(response =>{
                    let questions = response.data.question;
                    for(let i = 0; i < questions.length; i++){
                        let obj = {"value": questions[i]};
                        this.questionList.push(obj);
                    }

                }).catch(function (error){
                    console.log(error);
                })
            },
            // 搜索的高亮
            htmlValue: function (val) {
                let key = this.input;
                if (key.length > 0) {
                    return val.replace(
                        new RegExp(key, "g"),
                        "<span style='color:red;'>" + key + "</span>"
                    );
                }
                return val;
            },

            handleSelect(item) {
                console.log(item);
            },
            /* 输入框的函数 */

            load(){
                this.time = this.getTime();
            },
            getTime(){
                let now= new Date();
                let _month = ( 10 > (now.getMonth()+1) ) ? '0' + (now.getMonth()+1) : now.getMonth()+1;
                let _day = ( 10 > now.getDate() ) ? '0' + now.getDate() : now.getDate();
                let _hour = ( 10 > now.getHours() ) ? '0' + now.getHours() : now.getHours();
                let _minute = ( 10 > now.getMinutes() ) ? '0' + now.getMinutes() : now.getMinutes();
                let _second = ( 10 > now.getSeconds() ) ? '0' + now.getSeconds() : now.getSeconds();
                let str = now.getFullYear() + '-' + _month + '-' + _day + ' ' + _hour + ':' + _minute + ':' + _second;
                return str;
            },
            handleClose(done) {
                // 不要确认关闭 多此一举
                // this.$confirm('确认关闭？')
                //     .then(_ => {
                    done();
                    // })
                    // .catch(_ => {});
            },

            /**
             * 核心函数
             * */
            async sendMsg(){
                if (this.input.trim() == ''){
                    this.error();
                    return;
                }
                let query =  this.input;
                this.input = '';
                let answer_area_padding = document.getElementById('answer_area_padding');
                this.createNewUserSystem(answer_area_padding, query);

                let answer = '';
                await axios.get('/qa/querytop3?question=' + query).then(response=>{
                    queryTop3 = response.data;
                }).catch(function (error){
                    console.log(error);
                })


                this.createNewQuestionSystem(answer_area_padding, queryTop3);

            },
            // 用户的对话框
            createNewUserSystem(answer_area_padding, query){
                let answer_user_area = document.createElement('div');
                answer_user_area.className = 'answer_user_area';

                let time = document.createElement('div');
                time.className = 'time';
                time.innerHTML = this.getTime();

                let answer_user = document.createElement('div');
                answer_user.className = 'answer_user';
                let avatar_and_answer = document.createElement('div');
                avatar_and_answer.className = 'avatar_and_answer';
                let words_user = document.createElement('div');
                words_user.className = 'words_user';
                let text_user = document.createElement('p');
                text_user.className = 'word';
                text_user.style.fontSize = '15px';
                text_user.innerHTML = query;

                let el_avatar = document.createElement('span');
                el_avatar.className = 'el-avatar el-avatar--circle';
                el_avatar.style.height = '58px';
                el_avatar.style.width = '58px';
                el_avatar.style.lineHeight = '58px';

                words_user.appendChild(text_user)
                avatar_and_answer.appendChild(words_user);
                avatar_and_answer.appendChild(el_avatar)
                answer_user.appendChild(avatar_and_answer);
                answer_user_area.appendChild(time);
                answer_user_area.appendChild(answer_user);
                answer_area_padding.appendChild(answer_user_area);
                this.scrollDown();
            },

            // 系统显示问题的对话框
            createNewQuestionSystem(answer_area_padding, questions){
                let answer_system_area = document.createElement('div');
                answer_system_area.className = 'answer_system_area';

                let time = document.createElement('div');
                time.className = 'time';
                time.innerHTML = this.getTime();

                let avatar_and_answer = document.createElement('div');
                avatar_and_answer.className = 'avatar_and_answer';

                let words = document.createElement('div');
                words.className = 'words';
                let text_user = document.createElement('p');

                //处理questions
                if(questions == NO_QUESTION){
                    text_user.innerHTML = "不好意思，没有相关问题~";
                }else if(questions.substring(0, 6) == "直接返回答案"){
                    text_user.innerHTML = questions.substring(6);
                }else{
                    text_user.innerHTML = "已为您找到如下问题：";
                    text_user.appendChild(document.createElement('br'));
                    let question = questions.split("@");
                    for (let i = 0; i < question.length ;i++) {
                        this.createATag(answer_area_padding, text_user, question[i]);
                        text_user.appendChild(document.createElement('br'));
                    }
                }


                text_user.style.fontSize = '15px';
                text_user.className = 'word';


                let el_avatar = document.createElement('span');
                el_avatar.className = 'el-avatar el-avatar--circle';
                el_avatar.style.height = '58px';
                el_avatar.style.width = '58px';
                el_avatar.style.lineHeight = '58px';

                let img = document.createElement('img');
                img.src = 'sysAvatar.png';
                img.style.objectFit = 'cover';

                el_avatar.appendChild(img);

                words.appendChild(text_user);
                avatar_and_answer.appendChild(el_avatar);
                avatar_and_answer.appendChild(words);

                answer_system_area.appendChild(time);
                answer_system_area.appendChild(avatar_and_answer);

                answer_area_padding.appendChild(answer_system_area);
                this.scrollDown();
            },

            // 创建一个a标签并监听 如果点击了就调用系统对话框 把内容输入
            createATag(answer_area_padding, text_user, question){

                let a = document.createElement('a');
                a.className = 'click';
                a.innerHTML = question;
                var myRef = this.$refs['myScrollbar'];
                a.addEventListener('click', this.clickAEvent(answer_area_padding, question, myRef));
                text_user.appendChild(a);
            },

            /**
             * 点击a标签的事件 系统显示答案和评分的对话框
             * @returns {Promise<void>}
             */
            clickAEvent(answer_area_padding, question, myRef){
                return function (){
                    // 显示用户问的问题
                    let answer_user_area = document.createElement('div');
                    answer_user_area.className = 'answer_user_area';

                    let time = document.createElement('div');
                    time.className = 'time';
                    let now= new Date();
                    let _month = ( 10 > (now.getMonth()+1) ) ? '0' + (now.getMonth()+1) : now.getMonth()+1;
                    let _day = ( 10 > now.getDate() ) ? '0' + now.getDate() : now.getDate();
                    let _hour = ( 10 > now.getHours() ) ? '0' + now.getHours() : now.getHours();
                    let _minute = ( 10 > now.getMinutes() ) ? '0' + now.getMinutes() : now.getMinutes();
                    let _second = ( 10 > now.getSeconds() ) ? '0' + now.getSeconds() : now.getSeconds();
                    let str = now.getFullYear() + '-' + _month + '-' + _day + ' ' + _hour + ':' + _minute + ':' + _second;
                    time.innerHTML = str;

                    let answer_user = document.createElement('div');
                    answer_user.className = 'answer_user';
                    let avatar_and_answer = document.createElement('div');
                    avatar_and_answer.className = 'avatar_and_answer';
                    let words_user = document.createElement('div');
                    words_user.className = 'words_user';
                    let text_user = document.createElement('p');
                    text_user.className = 'word';
                    text_user.style.fontSize = '15px';
                    text_user.innerHTML = question;

                    let el_avatar = document.createElement('span');
                    el_avatar.className = 'el-avatar el-avatar--circle';
                    el_avatar.style.height = '58px';
                    el_avatar.style.width = '58px';
                    el_avatar.style.lineHeight = '58px';

                    words_user.appendChild(text_user)
                    avatar_and_answer.appendChild(words_user);
                    avatar_and_answer.appendChild(el_avatar)
                    answer_user.appendChild(avatar_and_answer);
                    answer_user_area.appendChild(time);
                    answer_user_area.appendChild(answer_user);
                    answer_area_padding.appendChild(answer_user_area);

                    // 调用API寻找答案
                    axios.get('/qa/findAnswerByQuestion?question=' + question).then(response=>
                    {
                        let answer_system_area = document.createElement('div');
                        answer_system_area.className = 'answer_system_area';

                        let time = document.createElement('div');
                        time.className = 'time';
                        let now= new Date();
                        let _month = ( 10 > (now.getMonth()+1) ) ? '0' + (now.getMonth()+1) : now.getMonth()+1;
                        let _day = ( 10 > now.getDate() ) ? '0' + now.getDate() : now.getDate();
                        let _hour = ( 10 > now.getHours() ) ? '0' + now.getHours() : now.getHours();
                        let _minute = ( 10 > now.getMinutes() ) ? '0' + now.getMinutes() : now.getMinutes();
                        let _second = ( 10 > now.getSeconds() ) ? '0' + now.getSeconds() : now.getSeconds();
                        let str = now.getFullYear() + '-' + _month + '-' + _day + ' ' + _hour + ':' + _minute + ':' + _second;
                        time.innerHTML = str;

                        let avatar_and_answer = document.createElement('div');
                        avatar_and_answer.className = 'avatar_and_answer';

                        let words = document.createElement('div');
                        words.className = 'words';
                        let text_user = document.createElement('p');


                        text_user.style.fontSize = '15px';
                        text_user.className = 'word';
                        text_user.innerHTML = response.data;

                        let el_avatar = document.createElement('span');
                        el_avatar.className = 'el-avatar el-avatar--circle';
                        el_avatar.style.height = '58px';
                        el_avatar.style.width = '58px';
                        el_avatar.style.lineHeight = '58px';

                        let img = document.createElement('img');
                        img.src = 'sysAvatar.png';
                        img.style.objectFit = 'cover';

                        el_avatar.appendChild(img);

                        words.appendChild(text_user);
                        avatar_and_answer.appendChild(el_avatar);
                        avatar_and_answer.appendChild(words);

                        answer_system_area.appendChild(time);
                        answer_system_area.appendChild(avatar_and_answer);

                        answer_area_padding.appendChild(answer_system_area);

                        answer_area_padding.scrollIntoView();
                        myRef.wrap.scrollTop = myRef.wrap.scrollHeight;

                    })

                    // 显示子问题
                    axios.get('/qa/subQuery?question=' + question).then(response=>
                    {
                        if(response.data != NO_SUBQUESTIONS){
                            let answer_system_area = document.createElement('div');
                            answer_system_area.className = 'answer_system_area';

                            let avatar_and_answer = document.createElement('div');
                            avatar_and_answer.className = 'avatar_and_answer';

                            let words = document.createElement('div');
                            words.className = 'words';
                            let text_user = document.createElement('p');
                            text_user.style.fontSize = '15px';
                            text_user.className = 'word';
                            text_user.innerHTML = '您可能对以下问题感兴趣：'
                            text_user.style.color= 'red';
                            text_user.appendChild(document.createElement('br'));


                            // 创建标签并监听事件
                            let subQuestions = response.data.split("@");

                            for(let i = 0; i < subQuestions.length; i++){
                                let a = document.createElement('a');
                                a.className = 'click';
                                a.innerHTML = subQuestions[i];
                                a.addEventListener('click', function (){
                                    let answer_user_area = document.createElement('div');
                                    answer_user_area.className = 'answer_user_area';

                                    let time = document.createElement('div');
                                    time.className = 'time';
                                    let now= new Date();
                                    let _month = ( 10 > (now.getMonth()+1) ) ? '0' + (now.getMonth()+1) : now.getMonth()+1;
                                    let _day = ( 10 > now.getDate() ) ? '0' + now.getDate() : now.getDate();
                                    let _hour = ( 10 > now.getHours() ) ? '0' + now.getHours() : now.getHours();
                                    let _minute = ( 10 > now.getMinutes() ) ? '0' + now.getMinutes() : now.getMinutes();
                                    let _second = ( 10 > now.getSeconds() ) ? '0' + now.getSeconds() : now.getSeconds();
                                    let str = now.getFullYear() + '-' + _month + '-' + _day + ' ' + _hour + ':' + _minute + ':' + _second;
                                    time.innerHTML = str;

                                    let answer_user = document.createElement('div');
                                    answer_user.className = 'answer_user';
                                    let avatar_and_answer = document.createElement('div');
                                    avatar_and_answer.className = 'avatar_and_answer';
                                    let words_user = document.createElement('div');
                                    words_user.className = 'words_user';
                                    let text_user = document.createElement('p');
                                    text_user.className = 'word';
                                    text_user.style.fontSize = '15px';
                                    text_user.innerHTML = subQuestions[i];

                                    let el_avatar = document.createElement('span');
                                    el_avatar.className = 'el-avatar el-avatar--circle';
                                    el_avatar.style.height = '58px';
                                    el_avatar.style.width = '58px';
                                    el_avatar.style.lineHeight = '58px';

                                    words_user.appendChild(text_user)
                                    avatar_and_answer.appendChild(words_user);
                                    avatar_and_answer.appendChild(el_avatar)
                                    answer_user.appendChild(avatar_and_answer);
                                    answer_user_area.appendChild(time);
                                    answer_user_area.appendChild(answer_user);
                                    answer_area_padding.appendChild(answer_user_area);

                                    axios.get('/qa/findAnswerByQuestion?question=' + subQuestions[i]).then(response=>
                                    {
                                        let answer_system_area = document.createElement('div');
                                        answer_system_area.className = 'answer_system_area';

                                        let time = document.createElement('div');
                                        time.className = 'time';
                                        let now= new Date();
                                        let _month = ( 10 > (now.getMonth()+1) ) ? '0' + (now.getMonth()+1) : now.getMonth()+1;
                                        let _day = ( 10 > now.getDate() ) ? '0' + now.getDate() : now.getDate();
                                        let _hour = ( 10 > now.getHours() ) ? '0' + now.getHours() : now.getHours();
                                        let _minute = ( 10 > now.getMinutes() ) ? '0' + now.getMinutes() : now.getMinutes();
                                        let _second = ( 10 > now.getSeconds() ) ? '0' + now.getSeconds() : now.getSeconds();
                                        let str = now.getFullYear() + '-' + _month + '-' + _day + ' ' + _hour + ':' + _minute + ':' + _second;
                                        time.innerHTML = str;

                                        let avatar_and_answer = document.createElement('div');
                                        avatar_and_answer.className = 'avatar_and_answer';

                                        let words = document.createElement('div');
                                        words.className = 'words';
                                        let text_user = document.createElement('p');


                                        text_user.style.fontSize = '15px';
                                        text_user.className = 'word';
                                        text_user.innerHTML = response.data;

                                        let el_avatar = document.createElement('span');
                                        el_avatar.className = 'el-avatar el-avatar--circle';
                                        el_avatar.style.height = '58px';
                                        el_avatar.style.width = '58px';
                                        el_avatar.style.lineHeight = '58px';

                                        let img = document.createElement('img');
                                        img.src = 'sysAvatar.png';
                                        img.style.objectFit = 'cover';

                                        el_avatar.appendChild(img);

                                        words.appendChild(text_user);
                                        avatar_and_answer.appendChild(el_avatar);
                                        avatar_and_answer.appendChild(words);

                                        answer_system_area.appendChild(time);
                                        answer_system_area.appendChild(avatar_and_answer);

                                        answer_area_padding.appendChild(answer_system_area);

                                        answer_area_padding.scrollIntoView();
                                        myRef.wrap.scrollTop = myRef.wrap.scrollHeight;

                                    })
                                });
                                text_user.appendChild(a);
                                text_user.appendChild(document.createElement('br'));
                            }

                            let el_avatar = document.createElement('span');
                            el_avatar.className = 'el-avatar el-avatar--circle';
                            el_avatar.style.height = '58px';
                            el_avatar.style.width = '58px';
                            el_avatar.style.lineHeight = '58px';

                            let img = document.createElement('img');
                            img.src = 'sysAvatar.png';
                            img.style.objectFit = 'cover';

                            el_avatar.appendChild(img);

                            words.appendChild(text_user);
                            avatar_and_answer.appendChild(el_avatar);
                            avatar_and_answer.appendChild(words);

                            answer_system_area.appendChild(avatar_and_answer);

                            answer_area_padding.appendChild(answer_system_area);

                            answer_area_padding.scrollIntoView();
                            myRef.wrap.scrollTop = myRef.wrap.scrollHeight;
                        }

                    })
                }
            },

            /**
             * 系统显示答案和评分的对话框
             * @param answer_area_padding
             * @param answer
             */
            createNewAnswerAndRateSystem(answer_area_padding, answer){
                let answer_system_area = document.createElement('div');
                answer_system_area.className = 'answer_system_area';

                let time = document.createElement('div');
                time.className = 'time';
                time.innerHTML = this.getTime();

                let avatar_and_answer = document.createElement('div');
                avatar_and_answer.className = 'avatar_and_answer';

                let words = document.createElement('div');
                words.className = 'words';
                let text_user = document.createElement('p');


                text_user.style.fontSize = '15px';
                text_user.className = 'word';
                text_user.innerHTML = answer;

                let el_avatar = document.createElement('span');
                el_avatar.className = 'el-avatar el-avatar--circle';
                el_avatar.style.height = '58px';
                el_avatar.style.width = '58px';
                el_avatar.style.lineHeight = '58px';

                let img = document.createElement('img');
                img.src = 'sysAvatar.png';
                img.style.objectFit = 'cover';

                el_avatar.appendChild(img);

                words.appendChild(text_user);
                avatar_and_answer.appendChild(el_avatar);
                avatar_and_answer.appendChild(words);

                answer_system_area.appendChild(time);
                answer_system_area.appendChild(avatar_and_answer);

                answer_area_padding.appendChild(answer_system_area);
            },
            error() {
                this.$notify.error({
                    title: '错误',
                    message: '输入不能为空喔！',
                });
                this.input = '';
            },
            pressEnter(event){
                event.preventDefault();
                this.sendMsg();
            },
            // 滚动条置底
            scrollDown() {
                this.$refs['myScrollbar'].wrap.scrollTop = this.$refs['myScrollbar'].wrap.scrollHeight
            },
            handleRemove(file, fileList) {
                console.log(file);
                console.log(file.raw);
                console.log("删除");

                this.removeFile(file.uid);
            },
            handleSuccess(res, file, fileList){
                console.log("成功");
                console.log(res);
                console.log(file);
                console.log(fileList);
            },
            handleError(err, file, fileList){
                console.log(err);
                console.log(file);
                console.log(fileList);
            },
            uploadOnePic(){

            },
            submitPic(event){
                // 成功就关闭页面
                if(this.fileList.length == 0 && this.description.trim() == ''){
                    this.$message({
                        message: '图片和描述都为空嗷！',
                        type: 'warning'
                    });
                }else{
                    let picList = new FormData();
                    for(let i = 0; i < this.fileList.length; i++){
                        picList.append('picture', this.fileList[i].raw);
                    }
                    picList.append('studentId', this.getCookie(STUDENT_ID_COOKIE));
                    picList.append('description', this.description);

                    axios.post('qa/upload',picList).then(res =>{
                        if(res.data == UPLOAD_SUCCESS){
                            this.$message({
                                message: '我们已经收到你的问题啦！',
                                type: 'success'
                            });
                        }else{
                            this.$message.error('上传失败！');
                        }
                    }).catch(function (error){
                        this.$message.error('上传失败！');
                    });

                    this.dialogVisible1 = false;
                    this.fileList = [];
                    this.description = ""
                }

            },
            // 通过cookie的名字找到cookie的值
            getCookie(cname){
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i=0; i<ca.length; i++)
                {
                    var c = ca[i].trim();
                    if (c.indexOf(name)==0) return c.substring(name.length,c.length);
                }
                return "";
            },
            // 当上传的文件改变时 调用
            onUploadChange(file) {
                const isIMAGE = (file.raw.type === 'image/jpeg' || file.raw.type === 'image/png');
                const isLt1M = file.size / 1024 / 1024 < 1;
                const uid = file.uid;

                this.fileList.push(file);
                if (!isIMAGE) {
                    this.$message.error('只能上传jpg/png图片!');
                    this.removeFile(uid);
                } else if (!isLt1M) {
                    this.$message.error('上传文件大小不能超过 1MB!');
                    this.removeFile(uid);
                }
            },
            // 找到uid删除图片
            removeFile(uid){
                for(var i = 0; i < this.fileList.length; i++){
                    if(uid == this.fileList[i].uid){
                        this.fileList.splice(i,1);
                    }
                }
            },
            // 文件数量超过limit调用函数
            handleOnExceed(files, fileList){
                console.log(this.fileList)
                this.$message.error('上传的图片不能超过三张！');
            },
            questionInput(){
                if(this.getCookie('studentId') == ''){
                    this.$message({
                        message: '您还没有登录请先点击右上角登录或者注册哦！',
                        type: 'warning'
                    });
                }
            },
            loginOrNot(){
                if(this.getCookie('studentId') == ''){
                    this.inputDisabled = true;
                }else{
                    this.inputDisabled = false;
                }
            },
            uploadPicLoginOrNot(){
                if(this.getCookie('studentId') == ''){
                    this.$message({
                        message: '您还没有登录请先点击右上角登录或者注册哦！',
                        type: 'warning'
                    });
                }else{
                    this.dialogVisible1 = true;
                }
            }


        }
    })

</script>
</html>