<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">中山大学</span>
                </button>
                <a class="navbar-brand" href="/">电路基础学习系统</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--172.18.217.145-->
                    <li th:if="${session.studentName != null}"><a href="/systemQA"><strong>问答系统</strong></a></li>
                    <li th:if="${session.studentName != null}"><a href="/record">问答历史</a></li>
                    <li th:if="${session.studentName != null}"><a href="/answer_index"><strong>答题系统</strong></a></li>
                    <li th:if="${session.userId == 1}"><a href="/addQA">添加问题答案对</a></li>
                    <li th:if="${session.studentName != null}"><a href="/feedbackTwoSys">意见建议</a></li>

                    <li class="dropdown" th:if="${session.studentName != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.studentName}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#">我的问题</a></li>-->
                            <!--<li><a href="#">设置中心</a></li>-->
                            <li><a href="/homepage" style="font-size: 14px">个人信息</a></li>
                            <li><a href="/student/logOut">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.studentName == null}">
                        <a href="/student/login">登录/注册</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


</body>

</html>