<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sysu.circuitQA.mapper.StudentMapper" >
    <select id="findById" resultType="cn.sysu.circuitQA.pojo.Student">select * from student where id = #{id}</select>
    <select id="findPswById" resultType="java.lang.String">select password from student where id = #{id}</select>
    <select id="save">insert into student(id,studentName,password,classAndGrade) values(#{id},#{studentName},#{password},#{classAndGrade}) </select>
</mapper>